{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/foosball.css" type="text/css" media="screen">
{% endblock %}

{% block body %}
    <main>
        <header><h1>Ronde {{ date.format('d-m-Y') }}</h1></header>

        {% include 'CompetitionBundle:partials:flashes.html.twig' %}

        {% if round.id %}
            {% include 'CompetitionBundle:Scores:scoreGrid.html.twig' with {'players': round.players} %}

            {% include 'CompetitionBundle:Scores:standings.html.twig' %}
        {% endif %}

        {% include 'CompetitionBundle:Scores:roundForm.html.twig' with {'form': roundForm} %}
    </main>
{% endblock %}