{% extends '::base.html.twig' %}

{% block body %}

    {% include 'CompetitionBundle:partials:flashes.html.twig' %}

    <h1>{{ date.format('d-m-Y') }}</h1>
    {% include 'CompetitionBundle:Scores:scoreGrid.html.twig' %}
    <hr>
    {% include 'CompetitionBundle:Scores:standings.html.twig' %}

{% endblock %}